<section class="ui stacked form segment">
  <h4 id="header" class="ui block header">Create a Post</h4>
  <form action="/blog/newpost" method="POST">
    <div class="field">
      <input type="text" name="title" placeholder="Title"></input>    
      <textarea name="content" placeholder="Content"></textarea>
    </div>
    <button class="ui button black submit labeled icon"><i class="icon edit"></i> Create </button>
  </form>
</section>