<section id="comments" class="ui comments">
  #{if post.comments.size() >0}
    #{list items:post.comments, as:'comment'}
      <div class="comment">
          <a class="avatar">
            <img class="ui avatar image" src="/profile/getthumbnail/${comment.sender.id}">
          </a>
          <div class="content">
            <a class="author">${comment.sender.firstName} ${comment.sender.lastName}</a>
            <div class="metadata">
              <div class="date">${comment.commentDate}</div>
            </div>
            <div class="text">
              ${comment.content}
            </div>
            <div class="actions">
              <a class="reply" href="/publicprofile/${comment.sender.id}">
              Visit ${comment.sender.firstName} ${comment.sender.lastName}'s Profile</a>
            </div>
          </div>
        </div>
      #{/list}
    #{/if}
</section>