<section class="ui stacked segment">
  <h4 id="header" class="ui block header">Published Posts</h4>
  #{list items:user.posts, as:'post'}
    <h5 id="header" class="ui block header">
      <a href="/blogentry/view/${post.id}">
      ${post.title}</a>
     </h5>
  #{/list}
</section>