<section class="ui stacked segment">
  <h4 id="header" class="ui block header">
    <i class="users icon"></i>Friends (${user.friendships.size()})
  </h4>
  <div class="ui list">
    #{list items:user.friendships, as:'friendship'}
    <div class="ui item">
      <img class="ui avatar image"
        src="/profile/getthumbnail/${friendship.targetUser.id}"> <a
        href="/publicprofile/${friendship.targetUser.id}">
        ${friendship.targetUser.firstName}
        ${friendship.targetUser.lastName} </a>
        <a id="floatright" class="ui mini red button"
        href="/home/drop/${friendship.targetUser.id}"> Drop </a>
    </div>
    #{/list}
  </div>
</section>