<section class="ui stacked segment">
  <h4 id="header" class="ui block header">
    <i class="mail icon"></i>Messages
  </h4>
  <table class="ui table">
    <thead id="header" class="ui block header">
      <tr>
        <th class="one wide"><i class="camera icon"></i></th>
        <th class="two wide"><i class="desktop icon"></i></th>
        <th class="two wide"><i class="user icon"></i></th>
        <th class="eleven wide"><i class="comment icon"></i></th>
    </thead>
    <tbody>
      #{if user.inbox.size() > 0}
      <div class="ui list">
        #{list items:user.inbox, as:'message'}
        <tr class="item">
          <td><img class="ui avatar image"
            src="/profile/getthumbnail/${message.from.id}"></td>
          <td>
            #{if message.from.online}
              <img src="../../../public/images/online.gif">
            #{/if}
            #{else}
              <img src="../../../public/images/offline.gif">
            #{/else}
          </td>
          <td><a href="/publicprofile/${message.from.id}">${message.from.firstName} ${message.from.lastName}</a></td>
          <td>"${message.messageText}"</td>
        </tr>
        #{/list}
      </div>
      #{/if}
    </tbody>
  </table>
</section>