<section class="ui stacked segment">
  <table class="ui table segment">
    <thead class="ui block header">
      <tr id="header">
        <th id="header">Email</th>
        <th id="header">Species</th>
        #{if showAge}
          <th id="header">Age</th>
        #{/if}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>${user.email}</td>
        <td>${user.species}</td>
        #{if showAge}
          <td>${user.age}</td>
        #{/if}
      </tr>
    </tbody>
  </table>
  <h4 id="header" class="ui block header">Profile Picture</h4>
  <div class="ui image">
    <img src="/profile/getpicture/${user.id}">
  </div>
</section>