<section class="ui stacked segment">
  <h4 id="header" class="ui block header">Status</h4>
  <div class="ui message">
    <p>${user.statusText}</p>
  </div>
  <section class="ui form segment">
    <form action="/profile/changestatus" method="POST">
      <div class="field">
        <textarea name="statusText"></textarea>
      </div>
      <button class="ui button black submit labeled icon">
        <i class="icon edit"></i> Update
      </button>
    </form>
  </section>
</section>