<section>
  <form action="/blogentry/uploadPostImage/${post.id}" method="post"
    enctype="multipart/form-data">
    <label class="ui tiny blue button"> Add Image to Post 
    <input id="uploadButton" type="file" name="picture" />
    </label> <input class="ui tiny black button" type="submit" name="submit"
      value="upload" />
  </form>
</section>