<section class="ui stacked form segment">
  <h4 id="header" class="ui block header">Choose a Profile Picture
  </h4>
  <img src="/profile/getpicture/${user.id}">
  <form action="/editprofile/uploadpicture/${user.id}" method="post"
    enctype="multipart/form-data">
    <label class="ui black button"> Select File <input
      id="uploadButton" type="file" name="picture" />
    </label> <input class="ui black button" type="submit" name="submit"
      value="upload" />
  </form>
</section>