#{extends 'main.html' /}
#{set title:'Edit Details' /}

<nav id="menu" class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/home">Home</a>
    <a class="item" href="/members">Members</a>
    <a class="item" href="/profile">Profile</a>
    <a class="item" href="/blog">Blog</a>
    <div class="ui active dropdown item">
      <i class="dropdown icon"></i>
      ${user.firstName} ${user.lastName}
      <div class="ui menu">
        <a class="item" id="submenu" href="/editprofile">
          <i class="settings icon"></i>
          <span id="submenutext">Edit Profile</span></a>
        <a class="item" id="submenu" href="/logout">
          <i class="sign out icon"></i>
          <span id="submenutext">Logout</span></a>
      </div>
    </div>
  </div>
</nav>

<div class="ui two column grid">
  <div class="ui column">
    #{include "Components/uploadprofilepic.html" /}
    <section class="ui raised form segment">
      <h4 id="header" class="ui block header"> Choose a Thumbnail Picture for your Avatar </h4>
      <img class="ui avatar image" src="/profile/getthumbnail/${user.id}">
      <form action="/editprofile/uploadthumbnail/${user.id}" method="post"
        enctype="multipart/form-data">
        <label class="ui black small button">
          Select File <input id="uploadButton" type="file"
          name="picture" />
        </label> <input class="ui black small button" type="submit"
          name="submit" value="upload" />
      </form>
    </section>
  </div>
  <div class="ui column">
    <section class="ui raised form segment">
      <h4 id="header" class="ui block header"> Edit your Profile Details </h4>
      <form action="/editprofile/change" method="POST">
        <div class="two fields">
          <div class="field">
            <label>First Name</label>
            <input placeholder="First Name" type="text" name="firstName" value="${user.firstName}">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input placeholder="Last Name" type="text" name="lastName" value="${user.lastName}">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Species</label>
            <input placeholder="Nationality" type="text" name="nationality" value="${user.species}">
          </div>
          <div class="field">
            <label>Age</label>
            <input placeholder="Age" type="text" name="age" value="${user.age}">
          </div>
        </div>    <div class="field">
          <label>Email</label>
          <input placeholder="Email" type="text" name="email" value="${user.email}">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password">
        </div>
        <button class="ui black submit button">Submit</button>
      </form>
    </section>
    <section class="ui raised inverted red segment">
      <form action="/editprofile/deleteaccount/${user.id}" method="POST">
        <h6 class="ui header"> Delete My Account </h6>
        <p> Warning: This will delete all your account details, including friends, messages and blogs! </p>
        <input type="password" name="password" placeholder="password">
        <button id="floatright" class="ui small black submit button">Submit</button>
      </form>
    </section>
  </div>
</div>