#{extends 'main.html' /}
#{set title:'Public Profile Page' /}

<nav id="menu" class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/home">Home</a>
    <a class="item" href="/members">Members</a>
    <a class="item" href="/profile">Profile</a>
    <a class="item" href="/blog">Blog</a>
    <div class="ui dropdown item">
      <i class="dropdown icon"></i>
      ${currentUser.firstName} ${currentUser.lastName}
      <div class="ui menu">
        <a class="item" id="submenu" href="/editprofile">
          <i class="settings icon"></i>
          <span id="submenutext">Edit Profile</span></a>
        <a class="item" id="submenu" href="/logout">
          <i class="sign out icon"></i>
          <span id="submenutext">Logout</span></a>
      </div>
    </div>
  </div>
</nav> 

<h1 id="header" class="ui block header" >
  <img class="ui avatar image" src="/profile/getthumbnail/${user.id}">
  ${user.firstName} ${user.lastName}'s Profile
</h1>
<section class="ui two column grid">
  <div class="column">
    #{include "Components/profileinfo.html" /}
    #{if user.blog}
      <a  class="ui black button" href="/publicblog/${user.id}">View ${user.firstName} ${user.lastName}'s Blog</a>
    #{/if}
  </div>
  <div class="column">
    #{include "Components/messages.html" /}
    <section class ="ui stacked segment">
      <h4 id="header" class="ui block header"> Send message to ${user.firstName} ${user.lastName}</h4>
      <form action="/publicprofile/sendmessage/${user.id}" class="ui reply form" method="post">
        <div class="field">
          <textarea name="messageText"></textarea>
        </div>
        <button  class="ui black labeled submit icon button">
         <i class="icon edit"></i> Send
        </button>
      </form>
    </section>     
  </div>
</section>    
