#{extends 'main.html' /}
#{set title:'Home' /}

#{ if session.contains("logged_in_userid")}

<nav id="menu" class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/home">Home</a>
    <a class="item" href="/members">Members</a>
    <a class="item" href="/profile">Profile</a>
    <a class="item" href="/blog">Blog</a>
    <div class="ui dropdown item">
      <i class="dropdown icon"></i>
      ${currentUser.firstName} ${currentUser.lastName}
      <div class="ui menu">
        <a class="item" id="submenu" href="/editprofile">
          <i class="settings icon"></i>
          <span id="submenutext">Edit Profile</span></a>
        <a class="item" id="submenu" href="/logout">
          <i class="sign out icon"></i>
          <span id="submenutext">Logout</span></a>
      </div>
    </div>
  </div>
</nav>

#{/if}

#{ if !session.contains("logged_in_userid")}

<nav id="menu" class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/signup"> Signup  </a>
    <a class="item" href="/login">  Login   </a>
  </div>
</nav>

#{/if}

<h1 id="header" class="ui block header" >
  #{ if session.contains("logged_in_userid")}
    <img class="ui avatar image" src="/profile/getthumbnail/${user.id}">
  #{/if}
  #{ if !session.contains("logged_in_userid")}
    <img class="ui avatar image" src="/public/images/anonymous-user.png">
  #{/if}
  ${user.firstName} ${user.lastName}'s Blog
</h1>
<section class="ui two column grid">
  <div class="ui column">
    #{ if session.contains("logged_in_userid")}
      #{include "Components/profileinfo.html" /}
    #{/if}
    #{ if !session.contains("logged_in_userid")}
      <div class="ui big image">
        <img src="/../../../public/images/planet-express.png">
      </div>
    #{/if}
  </div>
  <div class="ui column">
    <section class="ui stacked segment">
      <h4 id="header" class="ui block header">${user.firstName} ${user.lastName}'s Blog</h4>
      <div class="ui list">
        #{list items:user.posts, as:'post'}    
          <h5 id="header" class="ui top attached block header">
            ${post.title}
          </h5>
          <div class="ui bottom attached raised segment">
            ${post.content}
            #{ if (post.containsImage)}
              <img id="postImage" class="ui large image" src="/blogentry/getimage/${post.id}">
            #{/if}  
          </div>
          #{ include "Components/displaycomments.html" /}
          <br>
          #{ if session.contains("logged_in_userid")}
            <form id="comments" action="/publicblog/leavecomment/${post.id}" method="post">
              <textarea name="commentText" rows=1 placeholder="Leave a Comment"></textarea>
              <input class="ui mini black submit button" type="Submit">
            </form>
          #{/if}          
        #{/list}      
      </div>
    </section>
  </div>
</section>
