#{extends 'main.html' /}
#{set title:'Home' /}

#{mainmenu id:"home" /}


<h1 id="header" class="ui block header" >
  <img class="ui avatar image" src="/profile/getthumbnail/${user.id}">
  ${user.firstName} ${user.lastName}</h1>
<section class="ui two column grid">
  <div class="ui column">
    #{include "Components/friends.html" /}      
    #{include "Components/messages.html" /} 
  </div>
  <div class="ui column">
    #{include "Components/uploadprofilepic.html" /}
    #{include "Components/statusupdate.html" /}
  </div>
</section>


 