@CHARSET "ISO-8859-1";

#menu {
	margin-top: 100px;
	margin-left: 500px;
}

body {
	background-image: url("/public/images/background.jpg");
    background-repeat: no-repeat;
	background-color: #000000;
}

#main {
	background-color: #000000;
}

#uploadButton {
	display: none;	
}

#floatright {
	float: right;
}

#postImage {
	margin: 20px auto; 
}

#submenu {
	background-color: #3D3D38;
}

#submenu:hover {
	background-color: #686864;
}

#submenutext {
	color: #FFFFFF;
}

#comments {
	margin-left: 10%;
}

.author {
	font-weight: bold;
}

#header {
	background-color: #FF3300;
	color: #FFFFFF;
}

th {
	text-color: #FFFFFF;
}

a:link, a:visited {
	color: #000000;
}

a:hover {
	color: #A9A9A9;
}