<nav id="menu" class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a id="home" class="item">Home</a>
    <a id="members" class="item" href="/members">Members</a>
    <a id="profile" class="item" href="/profile">Profile</a>
    <a id="blog" class="item" href="/blog">Blog</a>
    #{settings /}
  </div>
</nav>

<script>
  $("#${_id}").addClass("active item");
</script>