<div class="ui dropdown item">
  <i class="dropdown icon"></i> Account
  <div class="ui menu">
    <a class="item" id="submenu" href="/editprofile"> <i
      class="settings icon"></i> <span id="submenutext">Edit
        Profile</span></a> <a class="item" id="submenu" href="/logout"> <i
      class="sign out icon"></i> <span id="submenutext">Logout</span></a>
  </div>
</div>