#{extends 'main.html' /} #{set title:'Blog Entry' /}

<nav id="menu" class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/home">Home</a> <a class="item"
      href="/members">Members</a> <a class="item" href="/profile">Profile</a>
    <a class="active item" href="/blog">Blog</a>
    <div class="ui dropdown item">
      <i class="dropdown icon"></i> ${user.firstName} ${user.lastName}
      <div class="ui menu">
        <a class="item" id="submenu" href="/editprofile">
          <i class="settings icon"></i>
          <span id="submenutext">Edit Profile</span></a>
        <a class="item" id="submenu" href="/logout">
          <i class="sign out icon"></i>
          <span id="submenutext">Logout</span></a>
      </div>
    </div>
  </div>
</nav>

<h1 id="header" class="ui block header">
  <img class="ui avatar image" src="/profile/getthumbnail/${user.id}">
  ${user.firstName} ${user.lastName}'s Blog
</h1>

<div class="ui two column grid">
  <div class="ui column">
    #{include "Components/profileinfo.html"/}
  </div>
  <div class="ui column">
    <section class="ui stacked segment">
      <h4 id="header" class="ui top attached block segment">
        ${post.title} <a href="/blog/deletepost/${post.id}"
          id=floatright class="ui mini red button"> <i
          class="icon delete"></i> Delete
        </a>
      </h4>
      <div class="ui bottom attached raised segment">
        ${post.content}
        <br>
        <br>
        #{ if (post.containsImage)}
          <img id="postImage" class="ui large image" src="/blogentry/getimage/${post.id}">
        #{/if}          
        #{ if (!post.containsImage)}
          #{include "Components/uploadPostImage.html" /}
        #{/if}
      </div>
      #{include "Components/displaycomments.html" /}
    </section>
  </div>
</div>

