#{extends 'main.html' /}
#{set title:'Blog' /}

<nav id="menu" class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/home">Home</a>
    <a class="item" href="/members">Members</a>
    <a class="item" href="/profile">Profile</a>
    <a class="active item">Blog</a>
    <div class="ui dropdown item">
      <i class="dropdown icon"></i>
      ${user.firstName} ${user.lastName}
      <div class="ui menu">
        <a class="item" id="submenu" href="/editprofile">
          <i class="settings icon"></i>
          <span id="submenutext">Edit Profile</span></a>
        <a class="item" id="submenu" href="/logout">
          <i class="sign out icon"></i>
          <span id="submenutext">Logout</span></a>
      </div>
    </div>
  </div>
</nav> 

<h1 id="header" class="ui block header" >
  <img class="ui avatar image" src="/profile/getthumbnail/${user.id}">
  ${user.firstName}'s Blog  </h1>
<section class="ui two column grid">
  <div class="ui column">
    #{include "Components/createpost.html" /} 
  </div>
  <div class="column">
    #{include "Components/displayblog.html" /} 
  </div>
</section>