#{extends 'main.html' /} 
#{set title:'Members' /} 

<nav id="menu" class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/home">Home</a>
    <a class="active item">Members</a>
    <a class="item" href="/profile">Profile</a>
    <a class="item" href="/blog">Blog</a>
    <div class="ui dropdown item">
      <i class="dropdown icon"></i>
      ${user.firstName} ${user.lastName}
      <div class="ui menu">
        <a class="item" id="submenu" href="/editprofile">
          <i class="settings icon"></i>
          <span id="submenutext">Edit Profile</span></a>
        <a class="item" id="submenu" href="/logout">
          <i class="sign out icon"></i>
          <span id="submenutext">Logout</span></a>
      </div>
    </div>
  </div>
</nav> 

<h1 id="header" class="ui block header" >
  <img class="ui avatar image" src="/profile/getthumbnail/${user.id}">
  Spacebook Members
</h1>
#{list items:users, as:'user'}
  <div id="header" class="ui top attached header"> 
    <img class="ui avatar image" src="/profile/getthumbnail/${user.id}">
    ${user.firstName} ${user.lastName}
    #{if user.online}
      <img src="/public/images/online.gif">
    #{/if}
    #{else}
      <img src="/public/images/offline.gif">
    #{/else}
    <a class="ui black small button" id="floatright" href="members/follow/${user.id}"> Follow </a>
  </div>
  <div class="ui bottom attached raised segment">
    ${user.firstName} ${user.lastName} says: ${user.statusText}
    #{if user.blog}
      <a class="ui small black button" id="floatright" href="publicblog/${user.id}"> Check out my Blog! </a>
    #{/if}
  </div>
#{/list}