#{extends 'main.html' /}
#{set title:'Welcome to Spacebook' /}

<nav id="menu" class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/signup"> Signup  </a>
    <a class="item" href="/login">  Login   </a>
  </div>
</nav>

<section class="ui raised segment">
  <p> Signup or Log in to the Spacebook Service </p>
</section>