#{extends 'main.html' /}
#{set title:'Login to Spacebook' /}

<nav id="menu" class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/signup"> Signup  </a>
    <a class="active item"> Login  </a>
  </div>
</nav>
<div class="ui two column grid">
  <div class="ui row">
    <div class="ui column">
      <section class="ui raised form segment">
        <form action="/authenticate" method="POST">
          <div class="field">
            <label> Username: </label>
            <input type="text" name="email">
          </div>  
          <div class="field">
            <label>  Password: </label>
            <input type="password" name="password">
          </div>
          <button class="ui black submit button">Login</button>
        </form>
      </section>
    </div>
    <div class="ui column">
    <section class="ui stacked segment">
      <h4 id="header" class="ui block header">Public Blog's</h4>
      <div class="ui list">      
        #{list items:bloggers, as:'user'}
          #{if (user.blog)}
            <h5 id="header" class="ui block header">
              <a href="/publicblog/${user.id}">
              ${user.firstName} ${user.lastName}'s Blog</a>
            </h5>
          #{/if}
        #{/list}        
      </div>
    </section>
    </div>
  </div>
</div>