#{extends 'main.html' /}
#{set title:'Signup for Spacebook' /}

<nav id="menu" class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="active item"> Signup  </a>
    <a class="item" href="/login">  Login   </a>
  </div>
</nav> 

<div class="ui two column grid">
  <div class="ui row">
    <div class="ui column">
      <div class="ui big image">
        <img src="/../../../public/images/characters.png">
      </div>
    </div>
    <div class="ui column">
      <div class="ui raised form segment">
        <form action="/register" method="POST">
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input placeholder="First Name" type="text" name="user.firstName">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input placeholder="Last Name" type="text" name="user.lastName">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Species</label>
              <input placeholder="Species" type="text" name="user.species">
            </div>
            <div class="field">
              <label>Age</label>
              <input placeholder="Age" type="text" name="user.age">
            </div>
          </div>    <div class="field">
            <label>Email</label>
            <input placeholder="Email" type="text" name="user.email">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="user.password">
          </div>
          <button class="ui black submit button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>